@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.process-img {
    width: 100%;
    height: 100%;
}
.process-img img {
    display: block;
    width: 100%;
    height: 100%;
}